<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Previsão do Tempo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-header>
      <ion-card-title>Lençóis Paulista</ion-card-title><ion-icon name="sunny-outline"></ion-icon>32°
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row>
      <strong>
          <ion-col>
            <div class="dia">Dia</div>
          </ion-col>
        </strong>
      <strong>
          <ion-col>
            <div class="minmax">Min/Max</div>
          </ion-col>
      </strong>

      <strong>
          <ion-col>
            <div class="previsao">
              <ion-icon name="sunny-outline"></ion-icon>
              Previsão
            </div>
          </ion-col>
      </strong>
        </ion-row>
      </ion-grid>

      <ion-grid>
        <ion-row>
          <ion-col>
            01/08
          </ion-col>
          <ion-col>
            22°/24°
          </ion-col>
          <ion-col>
            Chuvoso
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid>
        <ion-row>
          <ion-col>
            02/08
          </ion-col>
          <ion-col>
            22°/32°
          </ion-col>
          <ion-col>
            Ensolarado
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid>
        <ion-row>
          <ion-col>
            03/08
          </ion-col>
          <ion-col>
            16°/24°
          </ion-col>
          <ion-col>
            Nublado
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-card-content>

  </ion-card>



</ion-content>
